<div class="row">
  <div class="span8">
    <div class="hero-unit">
      <h1>Let's administrate!:</h1>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <a href="admin/pages">Pages</a><br/>
      <a href="admin/posts">Posts</a><br/>
      <a href="admin/galleries">Galleries</a><br/>
      <a href="admin/images">Images</a>
    </div>
  </div>
</div>
